[Desktop Entry]
Name=YubiKey SE Tool
GenericName=YubiKey SE Tool
Comment=Graphical application for advanced YubiKey configuration.
Exec=se-tool
Icon=ykman
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
Keywords=YubiKey;Manager;
